{
  "root": true,
  "extends": ["plugin:vue/essential", "@vue/prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
