{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
