{
  "extends": "@fiquu",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "node/no-unpublished-import": "off",
    "node/no-extraneous-import": "off",
    "max-lines-per-function": "off"
  }
}
