$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
$backgroundColor: #f7f6f6

$surfaceA: #ffffff
$surfaceB: #f8f9fa
$surfaceC: #e9ecef
$surfaceD: #dee2e6
$surfaceE: #ffffff
$surfaceF: #ffffff

$textColor: #495057
$textColorSecondary: #6c757d

$primaryColor: #adb63c
$primaryColorLight: lighten($primaryColor, 15)
$primaryColorText: #ffffff

$invalidColor: #f44336
$primaryColorText: #ffffff
