{
  "root": true,
  "extends": [
    "plugin:vue/recommended",
    "@vue/typescript/recommended",
    "@fiquu/eslint-config/typescript"
  ],
  "plugins": [
    "html",
    "vue"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "settings": {
    "html/html-extensions": [
      ".html"
    ]
  }
}
