{
  "root": true,
  "extends": [
    "@fiquu",
    "plugin:vue/recommended",
    "@vue/typescript/recommended",
  ],
  "plugins": [
    "html",
    "vue"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "settings": {
    "html/html-extensions": [
      ".html"
    ]
  }
}
