{
  "root": true,
  "extends": ["eslint:recommended", "plugin:vue/recommended", "prettier"],
  "plugins": ["html", "vue"],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "html/html-extensions": [".html"]
  },
  "rules": {
    "no-console": "off",
    "no-var": "error",
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ]
  }
}
