{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["html"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.conf.js"
      }
    }
  },
  "rules": {
    "no-console": "off",
    "no-var": "error",
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ]
  }
}
